body {
    background-image: linear-gradient(90deg, red, yellow);
    background-attachment: fixed;
    animation: gradientBackground 5s infinite alternate;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

@keyframes gradientBackground {
    0% { background-position: 0 50%; }
    100% { background-position: 100% 50%; }
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
}

h1 {
    margin-left: 100px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.form-container h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #e67e22;
}

/*Kezdő oldal*/
/* A középre igazított tartalom */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* A gombok stílusának beállítása */
.button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    color: #333;
    font-size: 1.2em;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}